{% extends "accounts/base.html" %}
{% block content %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

</style>
{% load static%}
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in posts %}
            <div class="card mb-4">
                <div class="card-body">
                    {% if post.status == 0%}
                    <b><i>Draft</i></b>
                    {% endif %}
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{post.content}}</p>
                    <p class="card-text">{{post.created_on}}</p>
                    <p><a class="btn btn-primary"  href="{% url 'update' post.id%}" style="float: left;">Update</a></p>


                    <p><a class="btn btn-danger"  href="{% url 'delete' post.id %}" style="float: right;">Delete</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'blog/sidebar.html' %} {% endblock sidebar %}
    </div>
</div>






{%endblock%}
