{% block sidebar %}

<style>
    .card{
        box-shadow: 0 16px 48px #E3E7EB;
    }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Blog</h5>
        <div class="card-body">
            <p class="card-text">Share Your Stories. </p>
            <a href="{%url 'createBlog'%}"
               class="btn btn-danger">Create</a>
            <a href="{%url 'MyBlogs'%}"
               class="btn " style="float: right; color: white;background: #3398E1;border-color: #3398E1">My Blogs</a>
        </div>
    </div>
</div>

{% endblock sidebar %}